{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
		<a class="btn btn-default" href="../">Back to clients</a>

		<h2 class="page-header">Edit #{{result.id}}</h2>
		
		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}

    </div><!-- /container -->
{% endblock %}
